:root {
  color-scheme: light;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}

body {
  margin: 0;
  touch-action: manipulation;
  overscroll-behavior: none;
}
